*{
border: 0;
padding: 0;
margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:200;
  background-color: #fafafa;
  color: #45a2e8;
  padding-top: 1.5em;
  width: 100vw;
  height: 100vh;
}

header{
  text-align: center;
}

h3{
  font-weight: 300;
  text-align: center;
  padding: 5px;
  margin: 0;
  height: 50px;
}

p{
  font-weight: 200;
  text-align: center;
}

footer{
    background-color: #ffffff;
    opacity: 80%;
    margin-top: 100px;
    padding: 10px;
}

#bucketlist-results {
  display: grid;
  grid-template-columns: repeat(5, 12.500em);
  grid-auto-rows: 25em;
  justify-content: center;
}

.item-div {
  grid-column: auto;
  grid-column-gap: 5px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 6px 0 rgba(123, 123, 123, 0.2);
  margin: 10px;
  padding: 0;
  height: auto;
}

.item-div:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.item-wish {

}

.item-location {
  padding:5px;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background: url(../images/delete.png);
  background-size: 30px;
}

button.delete-btn {
  border: none;
  padding: 0;
  border-radius: 5px;
}

.item-image {
  margin: 1.250em auto; /* puts image in middle horizontally */
  display: block;
  max-height: 11.250em;
  max-width: 11.250em;
  overflow: hidden;
}

/* form */

#item-input{
  margin: 20px;
  max-width: 28.125em;
  line-height: 1.5;
}

label{
  display:block;
  margin-bottom: 10px;
  color: #45a2e8;
  font-weight: 300;
  font-size: 1em;
  text-shadow: 1px 1px 1px #fff;
}

#item_bucketlist, #item_location, #item_image{
  float: right;
  width: 100px;
  font-size: 1em;
}

fieldset{
  border-radius: 10px;
  margin: 20px 0px 10px 0px;
  border: 0px;
  padding: 20px;
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.4);
  box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.4);
}

legend{
  color: #45a2e8;
  border-radius: 5px 5px 0px 0px;
  background: #fafafa;
  padding: 0px 8px 3px 8px;
  font-weight: 400;
  font-size: 1em;
}

#item-input input[type=text]{
  border-radius: 3px;
  border: 0px;
  /* border: 1px solid #45a2e8; */
  font-weight: 300;
  outline: none;
  color: #002b6e;
  padding: 5px 8px 5px 8px;
  -webkit-box-shadow: inset 0px 0px 3px 0 rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 3px 0 rgba(0,0,0,0.4);
  background: #ffffff;
  width:50%;
}

input[type=submit], input[type=reset]
{
  background: #45a2e8;
  border: 1px solid #002b6e;
  padding: 5px 15px 5px 15px;
  color: #e7fff7;
  -webkit-box-shadow: inset 5px 5px 15px 3px rgba(0,0,0,0.62);
  box-shadow: inset 5px 5px 15px 3px rgba(0,0,0,0.62);
  border-radius: 3px;
  border-radius: 3px;
  font-weight: 400;
}

input[type=submit]:hover, input[type=reset]:hover
{
  background: #e7fff7;
  border: 1px solid #002b6e;
  padding: 5px 15px 5px 15px;
  color: #45a2e8;
  box-shadow: inset -1px -1px 3px rgba(0,0,0,0.62);
  border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}
